<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3> Edit your Listing </h3>
    <form method = "POST" action = "/listings/<%= listing._id %>?_method=PUT" novalidate class = "needs-validation">
        <div class = "mb-3">
            <lable for = "title" class ="form-lable"> Title </lable>
            <input name = "listing[title]" value = "<%= listing.title %>" type = "text" class="form-control" required>
            <div class="invalid-feedback"> Enter a Title </div>
        </div>
        
        <div class = "mb-3">
            <lable for = "description" class ="form-lable"> Description </lable>
            <textarea name  = "listing[description]" class ="form-control" required><%= listing.description %></textarea>
            <div class="invalid-feedback"> Enter A Text</div>
        </div>
        
        <div class = "mb-3">
            <lable for = "image" class ="form-lable"> Image Link </lable>
            <input name = "listing[image]"  value = "<%= listing.image %>" type = "text" class ="form-control" required>
            <div class="invalid-feedback"> Image link not found  </div>
        </div>

        <div class="row">
        <div class = "mb-3 col-md-4">
            <lable for = "price" class ="form-lable"> Price </lable>
            <input name = "listing[price]"  value = "<%= listing.price %>" type = "number" class = "form-control" required>
            <div class="invalid-feedback"> Price is invalid </div>
        </div>

        <div class = "mb-3 col-md-8">
            <lable for = "country" class ="form-lable"> Country </lable>
            <input name = "listing[country]"  value = "<%= listing.country %>" type = "text" class ="form-control" required>
            <div class="invalid-feedback"> Enter a Country Name  </div>
        </div>
        </div>
        
        <div class = "mb-3">
            <lable for = "location" class ="form-lable"> Location </lable>
            <input name = "listing[location]"  value = "<%= listing.location %>" type = "text" class = "form-control" required>
            <div class="invalid-feedback"> Enter a Location </div>
        </div>
    
        <button class ="btn btn-dark edit-btn mt-3"> Edit </button>
        <br><br>
    </form>
</div>
</div>
